@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
}

#page {
	width: 1728px;
	height: 3105px;
	margin: 0 9%;
}

#menuBar {
	position: fixed;
	display: inline-block;
	width: 100%;
	height: 66px;
	left: 0%;
	top: -1px;
	background: #002045;
}

#logoMenu {
	position: relative;
	display: inline-block;
	margin-top: 1.5%;
	margin-left: 20%;
	width: 97px;
}

#menuButtonsHolder {
	position: relative;
	top: -20%;
	display: inline-block;
	width: 30%;
	height: 20px;
	margin: 0.5% 11%;
}

#home {
	display: inline-block;
	margin: 0 11%;
	position: relative;
	width: 46px;
	height: 20px;
	color: #F17D21;
}

#Products {
	display: inline-block;
	margin: 0 8%;
	position: relative;
	width: 82px;
	height: 20px;

	color: #FFFFFF;
}

#About {
	display: inline-block;
	margin: 0 8%;
	position: relative;
	width: 53px;
	height: 20px;

	color: #FFFFFF;
}

#cartHolder {
	position: relative;
	display: inline-block;
	width: 47px;
	height: 37px;
}

#cart {

}

#mainCanvas {
	margin: 50px 0 0 0;
}

#upper {
	position: relative;
	width: 87%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 118, 255, 0.6), rgba(0, 94, 204, 0.4)), url(../_IMG/headerBg.png);
	display: block;
	margin: 0;
	padding: 0.1% 0 10%;
}

#welcome {
	position: relative;
	top: -120px;
	display: inline-block;
	width: 38%;
	margin: 2% 4%;
}

#welcomeTxt {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 130%;
	text-transform: capitalize;
	color: #F5F7FA;
	text-shadow: 0px 2px 0px rgba(34, 34, 34, 0.1);
}

#greeting {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 158%;
	color: #FFFFFF;
}

#signUp {
	position: relative;
	display: inline-block;
	width: 40%;
	height: auto;
	margin: 10px;
	top: 45px;
}

#topper {
	width: 100%;
	height: 180px;
	position: relative;
	display: block;
}

#squareBg {
	position: absolute;
	left: 260px;
}

#squareMg {
	position: absolute;
	top: 40px;
}

#squareFg {
	position: absolute;
	top: 48px;
	left: 192px;
}

#entryForm {
	background: white;
	margin: 0% 0;
	padding: 5% 0;
	width: 100%;
	position: relative;
	display: block;
	box-shadow: 2px 4px 20px rgba(11, 52, 179, 0.2);
	border-radius: 0px 0px 10px 10px;
}

#signUpLeft {
	display: inline-block;
	position: relative;
	margin: 0 5%;
}

#signUpRight {
	display: inline-block;
	position: relative;
	margin: 0 0;
}

#fname {
	width: 233px;
	height: 68px;
	background: #FAFAFA;
	border: 1px solid #315787;
	border-radius: 5px;
	padding: 0 10px;
}

#lname {
	width: 233px;
	height: 68px;
	background: #FAFAFA;
	border: 1px solid #315787;
	border-radius: 5px;
	padding: 0 10px;
}

#emailA {
	width: 233px;
	height: 68px;
	background: #FAFAFA;
	border: 1px solid #315787;
	border-radius: 5px;
	padding: 0 10px;;
}

#phoneNo {
	width: 233px;
	height: 68px;
	background: #FAFAFA;
	border: 1px solid #315787;
	border-radius: 5px;
	padding: 0 10px;
}

#country {
	width: 524px;
	height: 68px;
	background: #FAFAFA;
	border: 1px solid #315787;
	border-radius: 5px;
	padding: 0 10px;
	position: relative;
	left: 5%;
}

#submitBtn {
	width: 547px;
	height: 83.08px;
	background: linear-gradient(90deg, #FF7200 0.93%, #FC9500 100%);
	border-radius: 4px;
	margin: 5%
}

#certified {
	display: block;
	height: 80px;
	margin: 0;
}

#certIcons {
	height: 100%;
	margin: 0 16%;
}

#signUpReview {
	background: #F3F4F5;
	width: 485px;
	height: 150px;
	display: block;
	position: relative;
	margin: 5%;
	padding: 1% 5%;
}

#signUpLegal {
	position: relative;
	margin: 0 5%;
	width: 415px;
	height: 29.03px;
}

#legalese {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 140%;
	text-align: center;
	color: #515152;
}

#buttonDivider {
	position: relative;
	width: 1313px;
	height: 200px;
	left: 6%;
	top: -80px;
	box-shadow: 2px 4px 20px rgb(11 52 179 / 20%);
	background: #FFFFFF;
	border-radius: 10px;
}

#support {
	display: inline-block;
	position: relative;
	margin: 0 4.25%;
	height: 100%;
	width: 24%;
}

#phone {
	display: inline-block;
	margin: 23% 5%;
}

#factories {
	display: inline-block;
	position: relative;
	margin: 0 4.25%;
	height: 100%;
	width: 24%;
}

#factory {
	display: inline-block;
	margin: 23% 5%;
}

#awards {
	display: inline-block;
	position: relative;
	margin: 0 4.25%;
	height: 100%;
	width: 24%;
}

#awardIcon {
	display: inline-block;
	margin: 23% 5%;
}

#lower {
	position: relative;
	display: block;
	width: 87%;
}

#productTitle {
	position: relative;
	display: block;
	width: 40%;
	margin: 0 30%;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 65px;
	line-height: 70px;
	text-align: center;
	text-transform: capitalize;
	color: #000000;
}

#productRotator {
	position: relative;
	display: block;
	width: 85%;
	margin: 0 10%
}

#slider {
	width: 130%;
	top: 11%;
	position: relative;
}

#fade {
	position: absolute;
	width: 100%;
	height: 34.4%;
	top: 15.3%;
	box-shadow: -30px 0px 20px #f5f5f5 inset;
}

#rightBtn {
	position: absolute;
	top: 20%;
	left: 85%;
}

#leftBtn {
	position: absolute;
	top: 20%;
	left: -9%;
}
}

#EM1010 {
	width: 168px;
	height: 182px;
	position: relative;
	display: block;
	margin: 0 36%;
	top: 11%;
}

#em1010Btn {
	width: 460px;
	height: 83px;
	background: linear-gradient(90deg, #FF7200 0.93%, #FC9500 100%);
	border-radius: 4px;
	margin: 4% 8%;
}

#TC1501 {
	width: 168px;
	height: 182px;
	position: relative;
	display: inline-block;
	top: 11%;
}

#MT1501 {
	width: 168px;
	height: 182px;
	position: relative;
	display: inline-block;
	top: 11%;
}

#TT1080 {
	width: 168px;
	height: 182px;
	position: relative;
	display: inline-block;
	top: 11%;
}

#TC1501Btn {
	width: 460px;
	height: 83px;
	background: linear-gradient(90deg, #FF7200 0.93%, #FC9500 100%);
	border-radius: 4px;
	margin: 4% 8%;
}


#footer {
	position: relative;
	display: block;
	background: #022B5B;
	clear: both;
	width: 100%;
	margin: 66% 0;
}

#footer:before {
	content:"";
	background-color:#022B5B;
	position: absolute;
	height: 100%;
	width: 4000px;
	left: -2000px;
	z-index: -1;
}

#footerLeft {
	position: relative;
	display: inline-block;
	margin: 3% 0 0 5%;
	width: 20%;
}

#logoFooter {
	height: 65px;
	position: relative;
	display: block;
}

#socialHolder {
	position: relative;
	display: block;
	margin: 5% 0;
}

#fb {
	position: relative;
	display: inline-block;
}

#twit {
	position: relative;
	display: inline-block;
	margin: 0 0 0 10%;
}

#insta {
	position: relative;
	display: inline-block;
	margin: 0 0 0 10%;
}

#youtube {
	position: relative;
	display: inline-block;
	margin: 0 0 0 10%;
}

#pin {
	position: relative;
	display: inline-block;
	margin: 0 0 0 10%;
}

#legal {
	position: relative;
	display: block;
	margin: 40% 0 0 0;
}

#legal1 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 31px;
	color: #FFFFFF;
	position: relative;
	display: inline-block;
}

#legal2 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 31px;
	color: #FFFFFF;
	position: relative;
	display: inline-block;
	margin: 0 0 0 54%;
}

#footerMid {
	position: relative;
	display: inline-block;
	top: -65px;
	width: 29%;
}

#leftCol {
	position: relative;
	display: inline-block;
}

#midCol {
	position: relative;
	display: inline-block;
	margin-left: 21%;
}

#rightCol {
	position: relative;
	display: inline-block;
	margin-left: 21%;
}

#footerRight {
	position: relative;
	display: inline-block;
	margin-left: 7%;
	width: 29%;
}

#saleTimer {
	position: absolute;
	background: #FCD002;
	width: 100%;
	height: 50px;
	bottom: 0px;
}

#saleTimer:before {
	content:"";
	background-color:#FCD002;
	position: absolute;
	height: 100%;
	width: 4000px;
	left: -2000px;
	z-index: -1;
}

#saleTitle {
	position: relative;
	display: inline-block;
	float: left;
	margin-left: 5%;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 119%;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

#timer {
	position: relative;
	display: inline-block;
	margin-left: 18%;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 79%;
	text-align: center;
	color: #000000;
}

#sale {
	position: relative;
	display: inline-block;
	top: -5px;
	height: 92%;
	width: 190px;
	margin-left: 15%;
	background: #0076ff;
	border: 2px solid #ffffff;
	border-radius: 72px;
}

.menuItems {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
}

.highlight {
	color: #000000;
	background: #FFE600;
}

.welcomeVideoHolder {
	position: relative;
	display: block;
}

.signUpSub {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 31px;
	line-height: 106%;
	text-align: center;
	color: #071235;
}

.signUpBoxes {

}

.signUpLbls {
	font-family: 'Poppins';
	position: relative;
	left: 5%;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 25%;
	color: #515152;
}

.rotatorReview {
	position: relative;
	width: 510px;
	height: 134px;
	margin: 5%;
	background: #FFFFFF;
	box-shadow: 0px 1px 4px rgb(0 0 0 / 20%);
}

.quote {
	position: absolute;
	top: -16px;
	left: 89%;
}
.reviewBlock {
	position: absolute;
	left: 30%;
}
.name {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 14px;
	line-height: 150%;
}

.review {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #000000;
	}

.stars {
	position: relative;
	display: inline-block;
}

.fullStar {

}

.dividerSub {
	position: absolute;
	top: 25%;
	display: inline-block;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 120%;
	color: #0B132A;
	width: 29%;
}

.dividerText {
	position: absolute;
	top: 40%;
	display: inline-block;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	text-transform: uppercase;
	color: #4F5665;
}

.vertStroke {
	display: inline-block;
	position: relative;
	top: -10%;
	height: 80%;
	border: 2px solid #eeeff2;
}

.product {
	float: left;
	display: inline-block;
	margin: 3% 0 0 2%;
	width: 571px;
	position: relative;
	height: 1032px;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 15%);
	border-radius: 20px 20px 0 0;
}

.rotatorSubHead {
	background: #0F64C8;
	display: block;
	position: relative;
	width: 100%;
	padding: 1px 0px;
	border-radius: 20px 20px 0 0;
}

.productTitle {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
	line-height: 126%;
	text-align: center;
	color: #FFFFFF;
}

.productHolder {
	position: relative;
	display: inline-block;
	top:  11%;
	margin: 0 0 0 4%;
}

.rotatorImg {
	background: #F5F5F5;
	height: 321px;
	overflow: hidden;
}

.productName {
	margin: 9% 0 0;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 19px;
	line-height: 142%;
	text-align: center;
	color: #000000;
}

.needleNum {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 7%;
	text-align: center;
	text-transform: uppercase;
	color: #EE1D24;
}

.rotatorReviewHolder {

}

.rotatorFb {
	position: absolute;
	top: 5%;
	left: 1.4%;
}

.reviewer {
	position: absolute;
	top: 16%;
	left: 6%;
}

.rotatorBlurb {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	color: #000000;
	position: relative;
	margin: 0 5%;
}

.buttonText {

}

.subHead {
	position: relative;
	display: block;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 31px;
	color: #FFFFFF;
}

.footLink {
	position: relative;
	display: block;
	margin-top: 30px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 31px;
	color: #A0A2A6;
}

.footerVideoHolder {
	position: relative;
	display: block;
	top: -80px;
}

.legal {
	position: relative;
	display: block;
	left: -197px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 31px;
	text-align: right;
	color: #FFFFFF;
}

.btnText {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-size: 19px;
	line-height: 98%;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}